{% set Map = __SELF__.item %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>



  <li class="list-group-item" style="width: -webkit-fill-available;">
    <div>
        Geo Location:<br>
        <div id="map" style="height: 700px;"></div>
    </div>
  </li>

  {% for item in Map %}

  <script>
    const map = L.map('map').setView([{{ item.map_location }}], {{ item.maxzoom }});
  
    const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    	maxZoom: 19,
    	attribution: ''
    }).addTo(map);

    const circle = L.circle([{{ item.location }}], {{ item.parameters|raw }}).addTo(map);

    var popup = L.popup()
    .setLatLng([{{ item.location }}])
    .setContent("{{ item. name }}")
    .openOn(map);

  </script>

{% else %}

<div class="no-data">
  <div class="alert alert-danger" role="alert">
    <i><i class="bi bi-exclamation-triangle"></i> Geen Objecten gevonden</i>
  </div>
</div>

{% endfor %}

