<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

<div id="mapoverview" style="height: 700px;"></div>

{% set Map = __SELF__.item %}

<script>

    var map = L.map('mapoverview').setView([51.5787688, 5.1811932], 15);
  
    var tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    	maxZoom: 19,
    	attribution: ''
    }).addTo(map);

  </script>

  {% set Map = __SELF__.item %}

   <script>

    {% for item in Map %}

    var circle = L.circle([{{ item.location }}],
      {{ item.parameters|raw }}
    )
    .addTo(map)
    .bindPopup("{{ item.name }}");

    {% endfor %}
  </script>