{% set Objects = __SELF__.item %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

{% for item in Objects %}

<p>
    <h3><strong>{{ item. name }}</strong></h3>
    Customer: {{ item.customer }}<br>
    GPS: {{ item.location }}<br>
    Type: {{ item.type }}<br>
    Brand: {{ item.brand }}<br>
    Model: {{ item.model }}<br>
</p>

<div>
    Description: {{ item.description|raw }}<br>
    <div id="map" style="width: 320px; height: 180px; border: 1px solid lightgray;"></div>
</div>

  <script>
    const map = L.map('map').setView([{{ item.location }}], {{ item.maxzoom }});

	  const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
	  	maxZoom: 19,
	  	attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	  }).addTo(map);
  </script>


<hr>
{% else %}

<div class="no-data">
  <div class="alert alert-danger" role="alert">
    <i><i class="bi bi-exclamation-triangle"></i> Geen Objecten gevonden</i>
  </div>
</div>

{% endfor %}